<%-include('../partials/adminheader') %>
  <section>
    <div class="row px-0 m-0">
      <div class="col-md-2 sidebar " id="sidenav"  style="height: 100vh;">
        <div class="nav-item-list pt-3 px-3" id="navbarSupportedContent">
          <ul class="list-unstyled ">
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/category">Categories</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/products">products</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/customers">customers</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/orders">orders</a>
            </li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="col bg-primary-subtle" style="height: 100vh;">
        <div class="container d-flex ">
          <div class="d-flex mt-3"><h2>User Manegement</h2></div>
          <div class="search-content-admin d-flex m-auto   border- rounded-pill">
            <form action="/admin/customers/search" method="post">
                <input type="text" class="search px-5 " placeholder="Search customers" name="search">
                <button type="submit" class="search-btn"><i class="fa fa-search fa-xl"></i></button>
            </form>
        </div>
      </div>
        <div class="container-fluid py-2">
          <form action="/upload" method="post" enctype="multipart/form-data">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
        
              <tbody>
                <% customer.forEach((data) => { %>
                    <tr>
                        <td><%= data.userName %></td>
                        <td><%= data.phone_number %></td>
                        <td><%= data.email  %></td>
                        <td>
                          <div class="table-data">
                            <%if(data.ISbanned==false){%>
                              <a href="/admin/customers/block/<%=data._id%>" onclick="return confirm('Do you want to Ban <%=data.userName%> ?')" style="color:red;">Block</a>
                          <%}else{%>
                            <a href="/admin/customers/unblock/<%=data._id%>" onclick="return confirm('Do you want to UnBan <%=data.userName%> ?')" style="color: green;">Unblock</a>
                       
                            <%}%>
                        </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        
            </table>
    </form>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
      <ul class="pagination">
       <% if (page > 1) { %>
<li class="page-item">
<a class="page-link" href="?page=<%= page - 1 %>&limit=8" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li>
<% } else { %>
<li class="page-item disabled">
<span class="page-link" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</span>
</li>
<% } %>   
<% for (let i = 1; i <= totalPages; i++) { %>
<li class="page-item <%= page === i ? 'active' : '' %>">
<a class="page-link" href="?page=<%= i %>&limit=8"><%= i %></a>
</li>
<% } %>
<% if (page < totalPages) { %>
<li class="page-item">
<a class="page-link" href="?page=<%= page + 1 %>&limit=8" aria-label="Next">
  <span aria-hidden="true">&raquo;</span>
</a>
</li>
<% } else { %>
<li class="page-item disabled">
<span class="page-link" aria-label="Next">
  <span aria-hidden="true">&raquo;</span>
</span>
</li>
<% } %>

</ul>
</nav>
        
        
        </div>
      </div>
  </div>
                      
    
   
  </section>