<%-include('../partials/adminheader') %>


  <div class="row px-0 m-0">

    <!-- sidebar -->
    <div class="col-md-2 sidebar " id="sidenav">
      <div class="nav-item-list pt-3 px-3" id="navbarSupportedContent">
        <ul class="list-unstyled ">
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/category" >Categories</a>
          </li>
          <hr>
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/products" >products</a>
          </li>
          <hr>
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/customers" >customers</a>
          </li>
          <hr>
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/orders" >orders</a>
          </li>
          <hr>
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/coupon">coupon</a>
          </li>
          <hr>
          <li class="">
            <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/salesReport">sales Report</a>
          </li>
          <hr>
        </ul>
      </div>
    </div>

    <!-- main content  -->
    <div class="col" >
      <div class="row pt-5 d-flex justify-content-center">
        <div class="col-sm-3 card text-bg-info ms-2" style="max-width: 18rem;">
          <div class="card-header">
            <i class="fa-solid fa-box fa-xl"></i>
            Products
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <%= productCount %>
            </h5>

          </div>
        </div>
        <div class="col-sm-3 card text-bg-info ms-2" style="max-width: 18rem;">
          <div class="card-header">
            <i class="fa-solid fa-user fa-xl"></i>
            customers
          </div>

          <div class=" card-body">
            <h5 class="card-title">
              <%= customerCount %>
            </h5>

          </div>
        </div>
        <div class="col-sm-3 card text-bg-info ms-2" style="max-width: 18rem;">

          <div class="card-header">
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
            orders placed
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <%= ordersPlaced %>
            </h5>

          </div>
        </div>
      </div>

<!-- product and sales graph -->

      <div class="row pt-5 mx-4 mb-5 ">
        <!-- product graph -->
        <div class="col-md-6 charts  ">
          <div class="charts-card rounded py-3 border border-dark">
            <h4 class="charts-title fw-bold">Rescent sold products</h4>
            <div id="product_chart"></div>
          </div>
        </div>
        <!-- sales graph -->
        <div class="col-md-6 charts mb-5 " >
          <div class="charts-card rounded py-3 border border-dark">
           <div class="d-flex justify-content-between">
            <h4 class="charts-title fw-bold">sales</h4>
            <div class="dropdown d-flex justify-content-end">
                <select class="form-select" id="timeIntervalSelect">
                    <option value="day" selected>By Day</option>
                    <option value="month">By Month</option>
                    <option value="year">By Year</option>
                </select>
            </div>
           </div>
            <div id="sales_chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.2/apexcharts.min.js"></script>

  <script>


    // ===================================================================================
   
    var mostSoldProductNames = <%- JSON.stringify(mostSoldProduct.map(item => ({
    totalQuantity: item.qty,
    productName: item._id
}))) %>;



// daily sales chart
var dailychart = <%- JSON.stringify(dailyChart.map(item => ({
    days: item._id,
    revenue: item.dailyrevenue
}))) %>;
// // monthly sales chart

var monthlychart = <%- JSON.stringify(monthlyChart.map(item => ({ days: item._id, revenue: item.dailyrevenue }))) %>;


var yearlychart =<%- JSON.stringify(yearlyChart.map(item => ({ days: item._id, revenue: item.dailyrevenue }))) %>


var AreaChartoptions = {
    series: [{
        name: "sales",
        data: dailychart.map(item => item.revenue)
    }],
    chart: {
        type: 'area',
        height: 350,
        zoom: {
            enabled: false
        }
    },
    dataLabels: {
        enabled: false
    },
    stroke: {
        curve: 'smooth'
    },
    title: {
        text: 'Sales overview',
        align: 'left'
    },
    subtitle: {
        text: 'sales Movements',
        align: 'left'
    },
    labels:  dailychart.map(item => item.days),
    xaxis: {
      type: 'category',
    },
    yaxis: {
      opposite: false,
    },
    legend: {
        horizontalAlign: 'left'
    }
};

var saleschart = new ApexCharts(document.querySelector("#sales_chart"), AreaChartoptions);
saleschart.render();



document.getElementById('timeIntervalSelect').addEventListener('change', function () {
    var selectedInterval = this.value; 
    updateChart(selectedInterval); 
});

// Function to update chart based on the selected interval
function updateChart(interval) {
  let chartData = [];
    switch (interval) {
        case 'day':
            chartData = dailychart;
            break;
        case 'month':
            chartData = monthlychart;
            break;
        case 'year':
            chartData = yearlychart;
            break;
        default:
            break;
    }

    // Update the chart series and labels
    saleschart.updateSeries([{
      data: chartData.map(item => item.revenue)
       
    }]);

    saleschart.updateOptions({
      labels: chartData.map(item => item.days)

    });
}



// product graph
var colors = ['#1b5a90', '#4caf50', '#ff9800', '#e91e63', '#9c27b0'];

var barChartOptions = {
  series: [{
    data: mostSoldProductNames.map(item => item.totalQuantity),
  }],
  chart: {
    height: 350,
    type: 'bar',
    events: {
      click: function (chart, w, e) {

      }
    }
  },
  colors: colors,
  plotOptions: {
    bar: {
      columnWidth: '45%',
      distributed: true,
    }
  },
  dataLabels: {
    enabled: false
  },
  legend: {
    show: false
  },
  xaxis: {
    categories: mostSoldProductNames.map(item => item.productName),
    labels: {
      style: {
        colors: colors,
        fontSize: '12px'
      }
    }
  }
};

var chart = new ApexCharts(document.querySelector("#product_chart"), barChartOptions);
chart.render();


  </script>

