<%-include('../partials/adminheader') %>
<style>
  .main-content{
      min-height: 700px;
  }
</style>

  <section>
    <div class="row px-0 m-0">
      <div class="col-md-2 sidebar " id="sidenav" >
        <div class="nav-item-list pt-3 px-3" id="navbarSupportedContent">
          <ul class="list-unstyled ">
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/category">Categories</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/products">products</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/customers">customers</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/orders">orders</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/coupon">coupon</a>
            </li>
            <hr>
            <li class="">
              <a class="nav-link active fw-bold pt-3" aria-current="page" href="/admin/salesReport">sales Report</a>
            </li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="col main-content " >
        <div class="container  d-flex ">
          <div class="d-flex mt-3"><h2>Product Manegement</h2></div>
          <div class="search-content-admin d-flex m-auto border  ">
            <form action="/admin/products/search" method="post">
                <input type="text" class="search px-5 " placeholder="Search products" name="search">
                <button type="submit" class="search-btn"><i class="fa fa-search fa-xl"></i></button>
            </form>
        </div>
          <div class="d-flex justify-content-end my-3">
              <button class="Add-button"><a href="/admin/addproducts" class="text-decoration-none text-white">Add products</a></button>
          </div>
      </div>
        <div class="container-fluid py-2">
          <form action="/upload" method="post" enctype="multipart/form-data" >
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Stock</th>
                  <th scope="col">price</th>
                  <th scope="col">edit</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
        
              <tbody>
                <% product.forEach((data) => { %>
                    <tr>
                      <td>
                      
                          <!-- <img src="\<%= data.images %>" alt="Product Image" style="width: 50px; height: 50px;"> -->
                          <img src="\<%= data.images[0] %>" alt="Product Image" style="width: 50px; height: 50px;">
                      </td>
                        <td><%= data.name %></td>
                        <td><%= data.category ? data.category.category : 'N/A' %></td>
                        <td><%= data.quantity %></td>
                        <td><span class="">₹ </span> <%= data.price %></td>
                        <td><a href="/admin/edit-products/<%= data._id %>"><i class="fas fa-pen-to-square"></i></a></td>
                        <% if (data.status) { %>
                          <td><a href="/admin/product-deactivate/<%= data._id %>"class="text-decoration-none" style="color: green;">list</a></td>
                      <% } else { %>
                          <td><a href="/admin/product-activate/<%= data._id %>"class="text-decoration-none" style="color: red;">unlist</a></td>
                      <% } %>
                    </tr>
                <% }); %>
            </tbody>
        
            </table>
    </form>
    
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-2">
      <ul class="pagination">
       <% if (page > 1) { %>
<li class="page-item">
<a class="page-link" href="?page=<%= page - 1 %>&limit=8" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</a>
</li>
<% } else { %>
<li class="page-item disabled">
<span class="page-link" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
</span>
</li>
<% } %>
<% for (let i = 1; i <= totalPages; i++) { %>
  <li class="page-item <%= page === i ? 'active' : '' %>">
    <a class="page-link" href="?page=<%= i %>&limit=8"><%= i %></a>
  </li>
<% } %>
<% if (page < totalPages) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= page + 1 %>&limit=8" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
<% } else { %>
  <li class="page-item disabled">
    <span class="page-link" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </span>
  </li>
<% } %>

</ul>
</nav>
        </div>
      </div>
  </div>
  </section>


  <script src="/static/js/admin/product.js"></script>