<%-include('../partials/userheader') %>
<style>
  .main-content{
      min-height: 500px;
  }
</style>
  <body >

    <div class="container main-content">
      <div class="row pt-5 mt-5">
        <div class="col-lg-8 pt-3 ">
          <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">PRODUCT</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody  class="table-group-divider">
              <% if (products?.length> 0) {
                products.forEach(item => {
                %>
                <tr>
                  <td >
                    <div class="product-container d-flex">

                      <img src="\<%= item.productId.images[0] %>" class="card-img-top" alt="Product Image"
                        style="width: 100px; height: 100px;">

                      <div >
                        <%= item.productId.name %> <br>
                          <%= item.productId.price %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div>
                      <i class="fa-solid fa-chevron-up fa-rotate-270"
                        onclick="quantityChanger('<%= item.productId._id %>', -1, '<%= cart._id %>')"
                        style="color: #140a0a;"></i>
                      <span id="quantity_<%= item.productId._id %>" class="text-dark">
                        <%= item.quantity %>
                      </span>
                      <i class="fa-solid fa-chevron-up fa-rotate-90"
                        onclick="quantityChanger('<%= item.productId._id %>', 1, '<%= cart._id %>', '<%= item.productId.quantity %>')"
                        style="color: #130909;"></i>
                    </div>

                  </td>

                  <td id="totalPrice_<%= item.productId._id %>">
                    <%= item.quantity * item.productId.price %>
                  </td>

                  <td>
                    <a href="/delete-cart/<%= item._id %>"><i class="fa-solid fa-trash-can"
                        style="color: #d13a15;"></i></a>
                      </td>
                </tr>
                <% }); } else { %>
                  <tr>
                    <td colspan="4">No item found in cart</td>
                  </tr>
                  <% } %>
            </tbody>
          </table>
        </div>
        <div class="col">
          <% if (products?.length> 0) {  %>
            <div class="cart-total shadow me-5">
              <h6>CART TOTAL</h6>
              <ul class="list-unstyled">
                <li class="pt-2 d-flex justify-content-between">
                  Subtotal  <span id="subTotal" name="subTotal" class="text-dark">₹ <%= cartTotal %>
                  </span>
                </li>
                
              </ul>
              <a href="/checkout"> <button class="btn btn-info fw-bold w-100">Proceed To
                  Checkout</button></a>

                  <%  } else { %>
                    <div class="cart-total shadow me-5">
                      <h6>CART Empty</h6>
                      <ul class="list-unstyled">
                        <li class="pt-2 d-flex justify-content-between">
                          Subtotal  <span id="subTotal" name="subTotal" class="text-dark">₹ <%= cartTotal %>
                          </span>
                        </li>
                        
                      </ul>
                      <a href="/products"> <button class="btn btn-info fw-bold w-100">Shop Now</button></a>
                    <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%-include('../partials/userFooter') %>



  <script>
function quantityChanger(productId, count, cartId, productQuantity) {
  var quantityElement = document.getElementById("quantity_" + productId);
  var totalTdElement = document.getElementById("totalPrice_" + productId);
  var currentQuantity = parseInt(quantityElement.innerText, 10);

  if (currentQuantity >= productQuantity) {
    swal({
                text: "Out of stock! Cannot increase quantity.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
    quantityElement.innerText = currentQuantity ;
  } else if (count === 1) {
    currentQuantity += 1;
    quantityElement.innerText = currentQuantity;

  } else if (count === -1 && currentQuantity > 1) {
    currentQuantity -= 1;
    quantityElement.innerText = currentQuantity;

  }

  $.ajax({
    url: '/updatequantity',
    method: 'POST',
    data: {
      productId: productId,
      quantity: currentQuantity,
      cartId: cartId,
    },
    success: function (response) {
      if (response.success) {
        // Update the total price for the specific product
        totalTdElement.textContent = response.totalPrice;
        document.getElementById('subTotal').innerHTML = '₹ ' + response.totalPrice
      } else {
        // Handle error response, if needed
        console.error("Error from the server:", response.error);
      }
    },
  });

}




  </script>           