<%-include('../partials/userheader') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div id="invoiceContent" class="col">
            <h3 class="text-center text-success">Order Confirmed</h3>
            <% if (orders?.length > 0) { %>
                <% orders.forEach(item => { %>
                  <ul class="list-unstyled">
                    <h5>Order Details</h5>
                    <li>Order Date:<%= item.date.toLocaleDateString('en-GB') %></li>
                    <li>Order Id: <%= item._id %> </li>
                    <li>Amount: <%= item.totalPrice %></li>
                    <li>Payment Method: <%= item.paymentMethod %> </li>
                  </ul>
                  <hr>
                <% }); %>
              <% } %>

              <ul class="list-unstyled">
                <% address.forEach(item => { %>
                <h5>Address</h5>
                <li> <%= item.fullName %></li>
                <li> <%= item.mobile %> </li>
                <li> <%= item.street %>,<%= item.city %></li>
                <li>Pincode: <%= item.pinCode %> </li>
                <li>District: <%= item.district %></li>
                <% }); %>
              </ul>
              <hr>
        <div class="col pt-3">
            <h5>Products</h5>
            <table class="table  table-hover">
                <thead>
                  <tr >
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">Total</th>

                  </tr>
                </thead>
                <tbody>
                  <%
                  if (products?.length > 0) {
                    products.forEach(item => {
              %>
                      <tr>
                          <td>
                           <div class="product-container d-flex">
                           
                              <img src="\<%= item.productId.images[0] %>" class="card-img-top" alt="Product Image" style="width: 50px; height: 50px;" >
                            
                            <div>
                              <%= item.productId.name %> <br> <%= item.productId.price %>
                            </div>
                           </div>
                          </td>
                          <td>
                            <span id="quantity_<%= item.productId._id %>" class="text-dark"><%= item.quantity %></span>
                          </td>
                          <td id="totalPrice" ><%= totalPrice %></td>
                      </tr>
              <%
                      }); 
                  }
              %>
            
                      
                </tbody>
              </table>
        </div>
    </div>
   
</div>






</body>
</html>