<%-include('../partials/profileheader') %>
  <style>
    input.form-control,
    textarea {
      background-color: #fff;
    }

    input:disabled {
      border: none;
      background-color: #fff;
      font-weight: bold;
    }

    .fs--1 a {
      color: #000000;
      padding: 10px;
      text-decoration: none;

    }

    .fs--1 a.active {
      background-color: #7a7a7a;
      color: #fff;
    }

    .fs--1 a:hover {
      background: #AB79D3;
      color: white;
    }
  </style>

  <body>

    <div class="container row m-auto ">
      <div class="col-lg-3">
        <div class="d-flex ">
          <img src="/static/images/profile-pic.png" alt="" style="height: 200px;" class=" mt-2">
        </div>
        <h6 class="pt-3">
          <%= email %>
        </h6>
        <div class="w-100">
          <hr>
        </div>
        <div class="fs--1 fw-600">
          <a class=" d-block mb-2" href="/profile">PROFILE</a>
          <a id="bio-link" class=" d-block mb-2" href="/edit-bio" >EDIT BIO</a>
          <a id="orders-link" class=" d-block mb-2" href="/profile/profile-orders">ORDERS</a>
          <a id="wallet" class=" d-block mb-2" href="/wallet">WALLET</a>
        </div>
      </div>

      <div class="col-lg-8 pt-3">
        <table class="table table-secondary table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Order ID</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if (orders?.length> 0) {
              orders.forEach(item => {
              %>
              <tr id="order-row-<%= item._id %>">
                <td>
                  <%= item.date.toLocaleDateString('en-GB') %>
                </td>

                <td>
                  <span class="text-dark">
                    <%= item._id.toString().slice(-6) %>
                  </span>
                </td>

                <td id="totalPrice">
                  <%= item.totalPrice %>
                </td>

                <td id="order-status-${orderId}">
                  <%= item.orderStatus %>
                </td>
                <td>
                  <% if (item.orderStatus=='delivered' ) { %>
                    <div id="returnOrder">
                      <div>
                        <label for="returnProducts">Why are you returning:</label>
                        <select id="returnProducts" name="returnProducts" class="form-control" required>
                          <option value="" disabled>Select </option>
                          <option value="Defective product">Defective product</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                      <div class="ms-4 mt-3">
                        <button type="submit" style="font-size: 12px;" onclick="returnOrder('<%= item._id %> ')"
                          class="btn btn-danger rounded-0">
                          Return
                        </button>
                      </div>
                    </div>
                    <% } else if (item.orderStatus=='Cancelled' ) { %>
                      <button style="font-size: 12px; display: none;" id="cancel-<%= item._id %>"
                        onclick="cancelOrder('<%= item._id %>')" class="btn btn-danger rounded-0">
                        Cancel
                      </button>

                    
                    <% } else if(item.orderStatus !=='Returned' ) { %>

                      <button style="font-size: 12px; display: block;" id="cancel-<%= item._id %>"
                        onclick="cancelOrder('<%= item._id %>')" class="btn btn-danger rounded-0">
                        Cancel
                      </button>
  
                        <% } %>
                </td>
                <td><a href="/profile-orderedproducts/<%= item._id %>" class="btn btn-info">view
                    products</a>
                  <% if (item.orderStatus=='Cancelled' ||item.orderStatus=='Returned'  ) { %>

                   
                    <% } else { %>
                      <div class="py-4">
                        <a href="/invoice/<%= item._id %>" id="downloadInvoiceBtn" class="btn btn-primary">Invoice</a>
                      </div>
                      <% } %>

                </td>
                <td>



                </td>
              </tr>
              <% }); } %>
          </tbody>
        </table>

      </div>

      <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
        <ul class="pagination">
          <% if (page> 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= page - 1 %>&limit=8" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% } else { %>
              <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <% } %>
                <% for (let i=1; i <=totalPages; i++) { %>
                  <li class="page-item <%= page === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>&limit=8">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% if (page < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="?page=<%= page + 1 %>&limit=8" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <% } else { %>
                        <li class="page-item disabled">
                          <span class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </span>
                        </li>
                        <% } %>
        </ul>
      </nav>
    </div>
  </body>
  <%-include('../partials/userFooter') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

      async function cancelOrder(orderId) {
          const status = 'Cancelled';
          const cancel = await axios.patch('/profile-orders/cancel-order', { orderId, status });

          if (cancel.data.success) {

            swal({
              text: "Do you want to cancel the order?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            }).then((willDelete) => {
              if (willDelete) {
                swal("Order has been canceled!", {
                  icon: "success",
                }).then(() => {

                  const order = document.getElementById(`cancel-${orderId}`);
                  if (order) {
                    order.style.display = "none";
                  }
                });
              }
            });
          }
       
      }

      async function returnOrder(orderId) {
        try {
          const message = document.getElementById('returnProducts').value

          const returnOrder = await axios.patch('/profile-orders/return-order', { orderId, message });
       
          if (returnOrder.data.success) {
           

            swal({
              text: "Do you want to return the order?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            }).then((willDelete) => {
              if (willDelete) {

                swal("Order has been Returned!", {
                  icon: "success",
                }).then(() => {

                  const order = document.getElementById(`returnOrder`);
                  if (order) {
                    order.style.display = "none";

                  }
                });
              }
            });
          }
        } catch (error) {
          console.log(error);
        }
      }
    </script>