<%-include('../partials/userheader') %>
<style>
    .main-content{
        min-height: 600px;
    }
</style>

<div class="container main-content py-5 ">
    <h5>My Wishlist</h5>
    <table class="table mt-5 ">
        <thead class="table-secondary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <% if (Wishlist.products?.length> 0) { %>
          <% Wishlist.products.forEach(product => { %>
          <tr>
            <th></th>
            <td><%= product.name  %></td>
            <td><%= product.price %></td>
            <td><%= product.status %></td>
            <td>
              <% if (product.quantity > 0) { %>
                <div>
                  <button class="cart-button btn-block add-to-cart-button" data-product-id="<%= product._id %>">Add To Cart</button>
                  
              <% } else { %>
                <div class="pt-1">
                  <!-- <button class="cart-button btn-block mt-3 add-to-cart-button" disabled>Out of Stock</button> -->
                  <p class="text-danger">Out of stock</p>
              </div>
              <% } %>
            </td>

            <td>
              
             <a href="/removeproducts/<%=product._id %>"> <i class="fa-solid fa-xmark fa-xl"></i></a>
            </td>
          </tr>
          <% }); %>
          <% }else { %>
            <tr>
              <td colspan="6">No item found in Wishlist</td>
            </tr>
            <% } %>
        </tbody>
      </table>
</div>
<%-include('../partials/userFooter') %>

<script>

  // add to cart
document.querySelectorAll('.add-to-cart-button').forEach(button => {

      button.addEventListener('click', function (event) {

        const productId = this.getAttribute('data-product-id');


        $.ajax({
          url: '/addtocart/' + productId,
          method: 'POST',
          success: function (response) {

            if (response.success) {
              const count = document.getElementById("cartQuantity");
              count.innerHTML =  response.cartQuantity;
              swal("", "Product is added to cart", "success");
            }else if(response.message){
              swal("", "Product is already in cart");
            }
          },
          error: function (error) {
            console.log('Error adding product to cart:', error);
          }
        });
      });
    });
</script>
